* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 4rem;
  font-family: "Montserrat";
  color: #4f4f4f;
  background-color: #f2f2f2;
}
.main {
  display: flex;
  column-gap: 1.5rem;
}
.left-card {
  display: flex;
  flex-direction: column;
  width: 40%;
  row-gap: 1rem;
}
.right-card {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.intro-card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background: #ffffff;
}
.card-image {
  width: 100%;
  height: 60%;
}
.card-image img {
  width: 100%;
  object-fit: fit;
  height: 100%;
  border-radius: 10px;
}
.card-info {
  height: 35%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.email {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: -0.5rem;
}
.phone {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.intro-title {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.intro-title p {
  color: #4f4f4f;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  font-style: normal;
}
#role,
#intro {
  color: #828282;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-style: normal;
}
#mail-id,
#phone {
  color: #4f4f4f;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  font-style: normal;
}

.email img {
  height: 20px;
  width: 20px;
  object-fit: fit;
}
.phone img {
  height: 20px;
  width: 20px;
  object-fit: fit;
}
.experiments-card {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background: #ffffff;
}
.hobbies-card {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 3rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background: #ffffff;
}
.card-item {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
  height: auto;
}
.card-item-img {
  width: 20%;
  height: 40%;
}
.card-item-img img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}
.experiments-card-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.experiments-card-info p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #828282;
}
.experiments-card-info h3 {
  color: #333333;
}
.hobbies-card-heading,
.experiences-card-heading {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.8rem;
}
.hobbies-card-item {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 16rem;
}
.hobbies-card-item p {
  color: #828282;
  font-size: 1rem;
  line-height: 1rem;
}
.hobbies-card-img {
  width: 100%;
  height: 80%;
}
.hobbies-card-img img {
  width: 100%;
  height: 100%;
  object-fit: fit;
  border-radius: 2rem;
  object-position: top left;
}
#hobbies-side-heading {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}
.main-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}
.projects {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.8rem;
  background: #ffffff;
  margin-top: 1rem;
}
.projects-card {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 1rem;
  background: #ffffff;
}
.projects-card-image {
  width: 50%;
  height: 100%;
}
.projects-card-image img {
  width: 100%;
  height: 100%;
  object-fit: fit;
  border-radius: 0.5rem;
}
.projects-card-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.blog-heading {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.8rem;
  background: #ffffff;
  margin-top: 1rem;
}
.blog-card {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  column-gap: 2.5rem;
  border-radius: 1rem;
  background: #ffffff;
}
.blog-info {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 50%;
}
.blog-image {
  width: 50%;
}
.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: fit;
  border-radius: 1rem;
}
.blog-side-heading {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
.blog-side-heading p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.blog-info-p {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.blog-info-p p {
  color: #828282;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background: #ffffff;
  height: 18rem;
  width: 50%;
}
.buttons {
  display: flex;
  column-gap: 0.5rem;
}
.blue-button {
  background-color: #2f80ed;
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.5rem;
  color: #ffffff;
  border: none;
}
.transparent-button {
  background-color: #ffffff;
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.5rem;
  color: #2f80ed;
  border-color: #2f80ed;
}
.card2 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background: #ffffff;
  height: 9rem;
  width: 50%;
}
.card-title {
  margin-bottom: 1.5rem;
  font-family: "Montserrat";
  color: #4f4f4f;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.projects-heading {
  color: #4f4f4f;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.require {
  color: #4f4f4f;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}
#title {
  color: #333333;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
}
#project-info {
  color: #828282;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}
.skills {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: -2rem;
}
.skill-bar-container {
  width: 10rem;
  background-color: lightgray;
  border-radius: 0.625rem;
  height: 0.8rem;
  width: 75%;
}
.skill-bar {
  height: 100%;
  background-color: #2f80ed;
  border-radius: 1rem;
}
.skill-name {
  font-family: "Monteserrat";
  color: #4f4f4f;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  width: 20%;
}
#dev-link {
  padding-top: 4.5rem;
  color: #2f80ed;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

@media (min-width: 250px) and (max-width: 767px) {
  html {
    font-size: 18px;
  }
  body {
    margin: 2rem;
  }
  .main {
    flex-direction: column;
    width: 100%;
  }
  .left-card {
    width: 100%;
  }
  .right-card {
    width: 100%;
  }
  .main-card {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin-top: 2rem;
  }
  .card2 {
    width: 100%;
    margin-top: 2rem;
  }
  .card-item {
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding: 0; */
  }
  .card-item-img {
    width: 30%;
    margin-bottom: 1rem;
    margin-left: -3rem;
  }
  .experiments-card-info {
    padding-left: 2.5rem;
  }
  .skill {
    width: 100%;
  }
  .skill-name {
    width: 40%;
  }
  .skill-bar-container {
    width: 60%;
  }
  .hobbies-card-img img {
    border-radius: 1rem;
    width: 100%;
  }
  .projects-card {
    flex-direction: column;
  }
  .projects-card-image {
    height: 50%;
    width: 100%;
    margin-bottom: 1rem;
  }
  .blog-card {
    flex-direction: column;
  }
  .blog-image {
    width: 100%;
  }
  .blog-info {
    width: 100%;
  }
  .experiments-card,
  .hobbies-card {
    padding: 1.5rem;
  }
  .intro-card {
    width: 100%;
  }
  .card-image {
    height: 60%;
  }
  .card-info {
    height: 40%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
  body {
    margin: 2rem;
  }
  .main {
    flex-direction: column;
    width: 100%;
  }
  .left-card {
    width: 100%;
  }
  .right-card {
    width: 100%;
  }
  .intro-card {
    flex-direction: row;
    column-gap: 2rem;
    height: 100%;
  }
  .card-image {
    width: 90%;
    height: auto;
  }
  .card-image img {
    height: 100%;
    width: 100%;
  }
  .main-card {
    margin-top: 2rem;
  }
  .skill {
    column-gap: 1.5rem;
  }
  .hobbies-card-img {
    width: 90%;
    padding-left: 2rem;
  }
  .hobbies-card-img img {
    border-radius: 1rem;
  }
  .hobbies-card-item p {
    padding-left: 3rem;
  }
  .projects-card-image {
    height: auto;
    width: 40%;
  }
  .projects-card-info {
    width: 60%;
  }
  .blog-image {
    height: auto;
  }
}
